.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;    
    }
  
    &__title {
      font-size: 2rem;
      color: #49a46c;
      padding: 0.5rem;
    }
  
    &__search {
      border: 2px solid #ddd;
      border-radius: 0.5rem;
      background-color: #f8f8f8;
      margin: 0.5rem 2rem;
      padding: 3px;
      transition: all ease 0.3s;
  
      &:focus {
        border-color: #49a46c;
        background-color: #fff;
      }

      @include tablet {
        margin-right: 0;
      }
    }
  }
  