.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;    
    }
  
    &__title {
      font-size: 2rem;
      color: var(--theme-page-title);
      padding: 0.5rem;
    }
  
    &__search {
      border: 2px solid var(--theme-input-border);
      border-radius: 0.5rem;
      background-color: var(--theme-input-background);
      margin: 0.5rem 2rem;
      padding: 3px;
      transition: all ease 0.3s;
      color: var(--theme-card-text);
  
      &:focus {
        border-color: var(--theme-page-title);
        background-color: var(--theme-buttom-background);
      }

      @include tablet {
        margin-right: 0;
      }
    }
  }
  