.club {
    &__list {
      display: flex;
      flex-direction: column;
      }
  
    &__item {
      margin-bottom: 1rem;
      padding: 1rem;
      width:100%;
      list-style: none;
      border-radius: 1rem;
      border: 1px solid var(--theme-card-title);
      background-color: var(--theme-card-background);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      font-weight: bold;
      color: var(--theme-card-text);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        
       & > * {
         margin: 3px 0;
       }

       &:hover{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 10px 5px;} 
    }
  
    &__label {
      display: inline-block;
      font-weight: normal;
      //width: 5rem;
      color: #fff;
    }
  
    &__name {
      font-weight: bold;
      font-size: x-large;
      &:hover{
        color:var(--theme-newCard-background);
      }
      
      @include smallScreen {
      font-size: small;
      }
    }

      &__delete{
      background-color: var(--theme-buttom-background);
      border: solid var(--theme-border);
      border-radius: 2rem;
      color: var(--theme-newCard-text);
      font-weight: bolder;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
        &:hover{
          border-color: var(--theme-newCard-background);
          background-color: var(--theme-newCard-text);
          color: var(--theme-card-title);
        }
    
  }
  

  
}
  .new-club {
    &__form {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      padding: 1rem;
      width: 100%;
      list-style: none;
      border-radius: 1rem;
      border: 1px solid var(--theme-card-title);
      background-color: var(--theme-newCard-background);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
    &__title {
      padding-bottom:1rem;
      font-size: 1.5rem;
      color: var(--theme-newCard-title);

      @include smallScreen {
        font-size: small;
      }
    }
  
    &__label{
      font-weight: bold;
      display: flex;
      padding: 0.5rem 0;  
      justify-content: flex-start;
      align-items: center; 
      color: var(--theme-newCard-title);
        

       &--input {
       border: 2px solid var(--theme-input-border);
       border-radius: 0.5rem;
       background-color: var(--theme-input-background);
       margin: 0.5rem 1rem;
       padding: 3px;
       transition: all ease 0.3s;
        &::placeholder{
         color: var(--theme-card-text);
       }
          
       @include smallScreen {
        width: 50%;
      }
    }
  
       &:focus {
         border-color: var(--theme-card-title);
         background-color: var(--theme-card-title);
         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
       }
       
     
    }
    
      &__btn {
      padding: 0.5rem 1.5rem;
      width: 100%;
      border-radius: 0.5rem;
      border: 2px solid var(--theme-border);
      background-color: var(--theme-buttom-background);
      font-weight: bold;
      color: var(--theme-newCard-text);
      cursor: pointer;
      transition: all ease 0.3s;

        &:hover {
        border-color: var(--theme-newCard-background);
        background-color: var(--theme-newCard-text);
        color: var(--theme-card-title);
      }
      @include tablet {
        width: 30%;    }
    
    }
  }
  
  